*.dill filter=lfs diff=lfs merge=lfs -text
build/**/*.apk filter=lfs diff=lfs merge=lfs -text
build/cache.dill.track.dill filter=lfs diff=lfs merge=lfs -text
.dart_tool/flutter_build/**/*.dill filter=lfs diff=lfs merge=lfs -text
build/app/outputs/apk/debug/app-debug.apk filter=lfs diff=lfs merge=lfs -text
