<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667069547103-9hfes4vimlfol8leh28sm7kg073fk7f9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667069547103-9hfes4vimlfol8leh28sm7kg073fk7f9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>667069547103-mo68livbqtu9iibc9pieg7bi4kslkiec.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7wUQ6Ut-rhhYjaatH1q5ZISZCWOFn9_A</string>
	<key>GCM_SENDER_ID</key>
	<string>667069547103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sociodotabuleiro.app</string>
	<key>PROJECT_ID</key>
	<string>sociodotabuleiro-main</string>
	<key>STORAGE_BUCKET</key>
	<string>sociodotabuleiro-main.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667069547103:ios:a7be8cf57aae2ab8cc11ea</string>
</dict>
</plist>